p{
    color: whitesmoke;
}

#img-div{
    margin-top: 5%;
}

#school-search-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: whitesmoke;
    border: solid 1px #555555;
}

#search-title{
    font-size: 48px;
}

#school-search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#school-search-form div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

#submit-btn{
    align-self: center;
    max-width: 150px;
}

#school-list-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #555555 1px;
    justify-self: center;
    width: 80%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#school-list-title{
    font-size: 48px;
}

#school-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    overflow: scroll;
}

.school-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid darkslategray 2px;
    margin: 5px 2px;
    padding: 2px;
    background-color: #011d4a;
    box-sizing: border-box;
    color: white;
    height: min-content
}

.school-item div{
    margin: 0;
}

.school-item div p{
    margin: 0;
}

.school-item button{
    margin: 2px;
}

div h3{
    margin: 0;
}

#homepage-img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepage-img-div div img{
    width: 100%;
    height: 100%;
}