/* div {
    border: solid red 1px;
} */

#img-div{
    margin: 5% 0;
}

#school-search-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: white;
    background-color: black;
}

#search-title{
    font-size: 48px;
}

#school-search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    width: 80%;
}

#school-search-form div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

#submit-btn{
    align-self: center;
    max-width: 150px;
}

#school-list-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 4px;
    justify-self: center;
    width: 80%;
    box-sizing: border-box;
    background-color: lightgray;
}

#school-list-title{
    font-size: 48px;
    text-decoration: underline;
}

#school-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    background-color: lightgray;
    overflow: scroll;
}

.school-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid darkslategray 2px;
    margin: 10px 2px;
    padding: 2px;
    background-color: black;
    box-sizing: border-box;
    color: white;
    height: min-content
}

.school-item div{
    margin: 0;
}

.school-item div p{
    margin: 0;
}

.school-item button{
    margin: 2px;
}

div h3{
    margin: 0;
}

#homepage-img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepage-img-div div img{
    width: 100%;
    height: 100%;
}