#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    margin: 20px 0;
    padding: 10px 0;
}

section h1{
    max-width: 100%;
    font-size: 48px;
    margin: 10px 0;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
}

.product img{
    border: solid black 1px;
}

img {
    height: auto;
    width: 50%;
}

h3{
    margin: 10px 0;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 50px;
}

#btn-div{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    width: 50%;
}

#btn-div button{
    width: 50%;
}