/* TODO Add site wide styles */
html{
    box-sizing: border-box;
    margin: 0 5%;
}

body{
    font-family: 'garmond', serif;
    background-color: #FFFFFF;
    color: black;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}