/* TODO Add site wide styles */
html{
    box-sizing: border-box;
    margin: 0 5%;
    background-color: white;
}

body{
    font-family: 'garmond', serif;
    background-color: #FFFFFF;
    color: black;
    box-sizing: border-box;
}

#modal-content{
    border: solid darkcyan 2px;
    overflow-y: scroll;
    width: 50vw;
    height: auto;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: whitesmoke;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

input, select{
    border-radius: 5px;
    border: solid aqua 1px;
    font-size: medium;
}

button{
    border-radius: 5px;
    border: solid white 1px;
    background-color: #1e2438;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: lightslategray;
    border: solid lightslategray 1px;
}

img{
    box-sizing: border-box;
}

.form-group{
    display: flex;
    justify-content: center;
    width: 80%;
    box-sizing: border-box;
    margin: 5px;
}

.form-group label{
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box;
}

.form-group input, .form-group select{
    width: 100%;
    border-radius: 5px;
    border: solid aqua 1px;
    font-size: medium;
}