#nav-bar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #000000;
    color: azure;
    box-sizing: border-box;
}

#nav-bar div div{
    display: flex;
    width: fit-content;
    margin: 0;
    padding: 0;
}

#nav-bar ul{
    list-style: none;
}

#nav-bar > div div div{
    margin: 2px;
}

#omb-div button{
    background-color: transparent;
    color: azure;
    border: none;
}

#omb-div button:hover{
    cursor: pointer;
    color: aqua;
}

href{
    text-decoration: none;
}

href:hover{
    cursor: pointer;
    color: lightgrey;
}

#nav-bar ul div{
    display: flex;
    margin: 0;
}

#pb-user-menu{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: whitesmoke;
    position: absolute;
    right: 5.8%;
    top: 10%;
    padding: 10px 0;
    width: auto;
    z-index: 1;
    box-sizing: border-box;
    border: solid lightcyan 1px;
}

.profile-dropdown-menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    position: absolute;
    left: 5.8%;
    top: 10%;
    padding: 10px 0;
    width: 250px;
    z-index: 1;
    box-sizing: border-box;
    border: solid lightcyan 1px;
}

.profile-dropdown-menu li{
    align-self: center;
    width: 95%;
    box-sizing: border-box;
    align-self: center;
}
.profile-dropdown-menu button{
    align-self: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    align-self: center;
}

.profile-dropdown div{
    width: 100%;
    align-self: center;
}

.profile-dropdown button {
    width: 150px;
    height: 40px;
}

.profile-dropdown li {
    margin: 5px 0;
    align-self: center;
    padding: 0 10px;
}

.hidden{
    display: none;
}

li {
    margin: 5px 0;
}